################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularAuthAPI/.vs/AngularAuthAPI
/AngularAuthAPI/AngularAuthAPI/obj
/AngularAuthUI/.vscode
/AngularAuthAPI/AngularAuthAPI/bin/Debug/net6.0
